extends layouts/main.pug

block contenido
    div(class="h-100 w-100")
        h1(class="text-dark text-center my-4")='VISTA DE PRODUCTOS'
        if productoTrue
            div(class="table w-75 mx-auto")
                table(class="table table-light table-striped")
                    tr
                        th(class="text-center")='Nombre'
                        th(class="text-center")='Precio'
                        th(class="text-center")='Foto'
                        each product in producto
                            tr
                                td(class="text-center")=this.title
                                td(class="text-center")=this.price
                                td(class="text-center")
                                    img(width="50" src=this.thumbnail alt="not found")
        else
            h2(class="alert alert-danger")='No hay productos'
        div(class="d-flex w-75 justify-content-end")
            a(href="/" type="button" class="btn btn-outline-dark my-4")='Cargar un nuevo producto'

